.row.clearfix
    h4 What happened in the last few months before death ?
    textarea.form-control(rows=5,placeholder="In Respondent Own words" ng-model="participant.respondentCOD")

    br
    div(align="center")
        a.btn.btn-primary(href="#/steps/step2") Next Step &raquo;