.row.clearfix
   h4 Medical Information
   textarea.form-control(rows=5,placeholder="Medical Information" ng-model="participant.medicalInformation")

   br
   div(align="center")
      a.btn.btn-primary(href="#/steps/step5") Next Step &raquo;